/* -----------------------
    EXERCISE SOLUTIONS
------------------------ */


/* SOLUTONS 1 */
.ex-1-square:hover {
    transition: background-color 3s;
}
.ex-1-square:hover {
    background-color: red;
}


/* SOLUTIONS 2 */
.ex-2-square {
    transition: width 3s;
}
.ex-2-square:active {
    width: 100%;
}


/* SOLUTIONS 3 */
.ex-3-square {
    transition: border-radius 3s;
}
.ex-3-square:hover {
    border-radius: 50%;
}


/* SOLUTIONS 4 */
.ex-4-square {
    transition: background-color 3s;
}
.ex-4-square:hover {
    background-color: rgba(255, 0, 0, 0);
}


/* SOLUTIONS 5 */
.ex-5-square {
    transition: transform 3s;
}
.ex-5-square:hover {
    transform: scale(1.5);
}
.ex-5-square:active {
    transform: scale(0.5);
}


/* SOLUTIONS 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}


/* SOLUTIONS 7 */
.ex-7-img {
    transition: filter 3s;
}
.ex-7-img:hover {
    filter: grayscale(100%) invert(100%);
}


/* SOLUTIONS 8 */
.ex-8-img {
    transition: border-radius 3s, filter 3s;
}
.ex-8-img:hover {
    filter: grayscale(100%);
    filter: invert(100%);
    border-radius: 20%;
}


/* SOLUTIONS 9 */
.ex-9-img {
    transition: border-radius 3s, filter 3s, transform 3s;
}
.ex-9-img:hover {
    filter: grayscale(100%);
    filter: invert(100%);
    border-radius: 20%;
    transform: scale(1.5);
}